name: nix

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  nix:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        lib:
          - "monad-async"
          - "monad-env"
          - "monad-exceptions"
          - "monad-fs"
          - "monad-ioref"
          - "monad-logger-namespace"
          - "monad-optparse"
          - "monad-stm"
          - "monad-system-time"
          - "monad-terminal"
          - "monad-thread"
          - "monad-typed-process"
    steps:
      - uses: actions/checkout@v3.0.2

      - name: Setup nix
        uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/b39924fc7764c08ae3b51beef9a3518c414cdb7d.tar.gz
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: ${{ matrix.lib }}
        run: |
          nix build .#${{ matrix.lib }}
          if [ -d "./result/lib" ]; then
            echo "Build succeeded"
          else
            echo "Build failed"
            exit -1
          fi
